{{ if  eq (printf "%T" .Params) "map[string]string"         }}
{{  .Scratch.Set "fields"     (default "" .Params.fields)   }}
{{ end                                                      }}

<script>
    var jira_fields = {{ safeJS (partial "toJson-from-array.html" .Params.jira_fields) }}
</script>

<script src="http://viz-js.com/js/ace/ace.js"></script>
<script src="http://viz-js.com/bower_components/viz.js/viz.js"></script>
<script src="http://viz-js.com/bower_components/fabric.js/dist/fabric.min.js"></script>
<script src="http://viz-js.com/bower_components/Split.js/split.min.js"></script>
<script src="http://viz-js.com/bower_components/svg-pan-zoom/dist/svg-pan-zoom.min.js"></script>


<style>
    #issue-data {
        height : 100%;
    }
</style>
<script>

    function on_Node_Selected(params) {
        _node = null
        if (params.nodes.length === 1) {
            id = params.nodes[0]
            nodes = neo.viz._network.body.data.nodes;
            node  = nodes.get(id)
            $('#issue_key'   ).html(node.key)
            $('#issue_labels').html(node.labels[0])
            process_Id(node.key)
        }
    }
    function process_Id(id){
        url = "/api/jira/issue/" + id
        $.getJSON(url, function(data) {
            create_DataJ(data)
            create_Table(data)
        })
    }
    function create_DataJ(data){
        try{
            if(data["Data Flow Dot Lang Source"]){
                dot_lang = data["Data Flow Dot Lang Source"]
                var svg_div = jQuery('#graphviz_svg_div');
                var table_div = jQuery('#issue-data')
                svg_div.html("");
                var svg = Viz(dot_lang, "svg");
                svg_div.html(svg);
            }else{
                svg_div.html("");
            }
        }catch(e){
            svg_div.html("");
        }
    }

    function create_Table(data){

        table = $('<table class="table table-responsive-sm table-sm">')
        if (jira_fields.length > 0)
        {
            for (var i = 0; i < jira_fields.length; i++)
            {
                key = jira_fields[i]
                value = data[key] ? data[key] : ""
                value = apply_Filter(key,value)
                row = $('<tr><th>' + key + '</th><td>'+ value +'</d></tr>')
                console.log(key)
                if(key==="Data Flow Dot Lang Source" || key==="Linked Issues"){

                }else{
                    table.append(row)
                }
               
            }
        }
        else

            for(var key in data)
            {
                value = data[key]
                value = apply_Filter(key,value)
                row = $('<tr><th>' + key + '</th><td>'+ value +'</d></tr>')
                console.log(key)
                if(key==="Data Flow Dot Lang Source" || key==="Linked Issues"){

                }else{
                    table.append(row)
                }
                
            }

        _data = data
        $('#issue-data').html(table)
    }

    function apply_Filter(key, value){
        jira_link = "https://jira.photobox.com/browse/"
        if (key === 'key')
            return "<a href=" + jira_link + value +" target='_blank'>" + value + "</a>"
        if (key === 'Linked Issues') {
            return JSON.stringify(value)            // todo:format this better
        }
        if (key==="Summary") {
            $('#issue_summary').html(value)
        }
        return value
    }
    function get_Query_from_Url(){
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                .exec(window.location.search);

            return (results !== null) ? decodeURIComponent(results[1].replace(/\+/g, " ")) || 0 : false;
        }
        key = $.urlParam('key')
        if (key )
        {
            process_Id(key)
        }
    }

    get_Query_from_Url()
</script>

<div id="issue-data"></div>
